.box {
    background-color: lightgray;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: monospace;
    font-size: 36px;
    border:5px solid rgb(1, 2, 1);
}

.morpion {
    display:flex;
    flex-wrap: wrap;
    min-width: 50vh;
    height: 50vh;
    border:5px solid rgb(122, 122, 124);
    background-color: rgb(138, 131, 131);

}

.case {
    width: calc(1/3 * 100%);
    height: calc(1/3 * 100%);
    border:5px solid #FB1;
    display: flex;
    justify-content: center;
    align-items: center;
}  

span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: black;

}
